<div class="topic-instance">
    <strong topic-instance-name></strong>
    <div topic-instance-html></div>
    <horizontal-group-3 repeater></horizontal-group-3>
    <horizontal-group-4 repeater></horizontal-group-4>
    <group-carrier></group-carrier>
    <three-group></three-group>
    <graph></graph>
    <wrapped-graph></wrapped-graph>
</div>
