<topic>
        <topic-name>Elementary Row Operations</topic-name>
        <topic-definition>
            <topic-instance>
                <topic-instance-html>
                    <p>
                        There are three <strong>elementary row operations</strong> which can be used to produce a different, but equivelant, system of equations. They are:
                    </p>
                    <ol class="list-group large-left-margin">
                        <li>
                            Interchange two equations.
                        </li>
                        <li>
                            Multiply an equation by a nonzero constant.
                        </li>
                        <li>
                            Add one equation to another.
                        </li>
                    </ol>
                </topic-instance-html>
            </topic-instance>
        </topic-definition>
        <!--▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼-->
        <topic-example>
            <topic-instance>
                <horizontal-group-3>
                <empty-graph>
                    <text-header center>Interchange Two Equations</text-header>
                    <caption-html>
                        <div class="matrix-example width-350">
                            \(
                                \left[
                                    \begin{matrix}
                                        \phantom{-}0 & \phantom{-}1 & \phantom{-}7 &           -5 \\
                                                  -3 & \phantom{-}3 & \phantom{-}0 & \phantom{-}2 \\
                                        \phantom{-}2 &           -1 & \phantom{-}0 & \phantom{-}8
                                    \end{matrix}
                                \right]
                                \phantom{
                                    \begin{matrix}
                                        \color{#a38f8c}{R_1 \leftrightarrow R_2} \\
                                        \\
                                        \\
                                    \end{matrix}
                                }
                            \)                                    
                            <br>
                            <br>
                            \(
                                \left[
                                \begin{matrix}
                                                  -3 & \phantom{-}3 & \phantom{-}0 & \phantom{-}2 \\
                                        \phantom{-}0 & \phantom{-}1 & \phantom{-}7 &           -5 \\ 
                                        \phantom{-}2 &           -1 & \phantom{-}0 & \phantom{-}8
                                    \end{matrix}
                                \right]  
                                \begin{matrix}
                                    \color{#a38f8c}{R_1 \leftrightarrow R_2} \\
                                    \\
                                    \\
                                \end{matrix}
                            \)
                        </div>
                    </caption-html>
                </empty-graph> 
                <empty-graph>
                    <text-header center>Multiply by a Nonzero Constant</text-header>
                    <caption-html>
                        <div class="matrix-example width-350">
                            \(
                                \left[
                                    \begin{matrix}
                                        7 & \phantom{-}0 &           -1 & \phantom{-}4 \\
                                        0 & \phantom{-}0 & \phantom{-}5 & \phantom{-}1 \\
                                        9 &           -3 & \phantom{-}0 & \phantom{-}6 
                                    \end{matrix}
                                \right]
                                \phantom{
                                    \begin{matrix}
                                        \\
                                        \\
                                        \color{#a38f8c}{\frac{1}{3}R_3 \rightarrow R_3}
                                    \end{matrix}
                                }
                            \)                                    
                            <br>
                            <br>
                            \(
                                \left[
                                    \begin{matrix}
                                        7 & \phantom{-}0 &           -1 & \phantom{-}4 \\
                                        0 & \phantom{-}0 & \phantom{-}5 & \phantom{-}1 \\
                                        3 &           -1 & \phantom{-}0 & \phantom{-}2
                                    \end{matrix}
                                \right]  
                                \begin{matrix}
                                    \\
                                    \\
                                    \color{#a38f8c}{\frac{1}{3}R_3 \rightarrow R_3}
                                \end{matrix}
                            \)
                        </div>
                    </caption-html>
                </empty-graph> 
                <empty-graph>
                    <text-header center>Add One Equation to Another</text-header>
                    <caption-html>
                        <div class="matrix-example width-350">
                            \(
                                \left[
                                    \begin{matrix}
                                        \phantom{-}7  &             -4 &  \phantom{-}2 & \phantom{-}3 \\
                                        \phantom{-}6  &             -3 &  \phantom{-}0 &           -1 \\
                                                  -6  &   \phantom{-}4 &            -2 & \phantom{-}1
                                    \end{matrix}
                                \right]
                                \phantom{
                                    \begin{matrix}
                                        \color{#a38f8c}{R_3+R_1 \rightarrow R_1} \\
                                        \\
                                        \\
                                    \end{matrix}
                                }
                            \)                                    
                            <br>
                            <br>
                            \(
                                \left[
                                    \begin{matrix}
                                        \phantom{-}1  &  \phantom{-}0 &  \phantom{-}0 & \phantom{-}4 \\
                                        \phantom{-}6  &            -3 &  \phantom{-}0 &           -1 \\
                                                  -6  &  \phantom{-}4 &            -2 & \phantom{-}1
                                    \end{matrix}
                                \right]  
                                \begin{matrix}
                                    \color{#a38f8c}{R_3+R_1 \rightarrow R_1} \\
                                    \\
                                    \\
                                \end{matrix}
                            \)
                        </div>
                    </caption-html>
                </empty-graph> 
            </horizontal-group-3>
        </topic-instance>
    </topic-example>
</topic>