<topic>
        <topic-name>Row-Echelon and Reduced-Row-Echelon Form</topic-name>
        <topic-definition>
            <topic-instance>
                <topic-instance-html>
                    <p>
                        A matrix in <strong>row-echelon form</strong> has the following properties:
                    </p>
                    <ol class="list-group large-left-margin">
                        <li>
                            Rows with all zeros are at the bottom of the matrix.
                        </li>
                        <li>
                            Any row that's not all zeros has a leading 1.
                        </li>
                        <li>
                            Every value below a leading 1 is 0.
                        </li>
                    </ol>
                </topic-instance-html>
            </topic-instance>
            <topic-instance>
                <topic-instance-html>
                    A matrix is in <strong>reduced-row-echelon form</strong> if it's in row-echelon form and there is a zero above every leading 1.
                </topic-instance-html>
            </topic-instance>
        </topic-definition>
        <!--▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼-->
        <topic-example>
            <topic-instance>
                <topic-instance-name>Row-Echelon Form Examples</topic-instance-name>
                <horizontal-group-3>
                <empty-graph>
                    <caption-html>
                        <div class="matrix-example width-350">
                            <matrix>
                                \color{#a38f8c}{1}                -7                  8  2;
                                \color{#a38f8c}{0} \color{#a38f8c}{1}                -2  1;
                                \color{#a38f8c}{0} \color{#a38f8c}{0} \color{#a38f8c}{1} 9
                            </matrix>
                        </div>
                    </caption-html>
                </empty-graph> 
                <empty-graph>
                    <caption-html>
                        <div class="matrix-example width-350">
                            <matrix>
                                \color{#a38f8c}{1}                -5                 -3                  0   3;
                                \color{#a38f8c}{0} \color{#a38f8c}{0} \color{#a38f8c}{1}                 2  -1;
                                \color{#a38f8c}{0} \color{#a38f8c}{0} \color{#a38f8c}{0} \color{#a38f8c}{1}  3
                            </matrix>
                        </div>
                    </caption-html>
                </empty-graph> 
                <empty-graph>
                    <caption-html>
                        <div class="matrix-example width-350">
                            <matrix>
                                \color{#a38f8c}{0} \color{#a38f8c}{1}                -6                 -1;
                                \color{#a38f8c}{0} \color{#a38f8c}{0} \color{#a38f8c}{1}                 9;
                                \color{#a38f8c}{0} \color{#a38f8c}{0} \color{#a38f8c}{0} \color{#a38f8c}{0}
                            </matrix>
                        </div>
                    </caption-html>
                </empty-graph>
            </horizontal-group-3>
            </topic-instance>
            <topic-instance>
                    <topic-instance-name>Reduced-Row-Echelon Form Examples</topic-instance-name>
                    <horizontal-group-3>
                    <empty-graph>
                        <caption-html>
                            <div class="matrix-example width-350">
                                <!-- using \phantom{-} manually here because this matrix has no negative values -->
                                <matrix>
                                    \color{#a38f8c}{1}                 \phantom{-}0                  \phantom{-}0  \phantom{-}2;
                                    \color{#a38f8c}{0} \phantom{-}\color{#a38f8c}{1}                 \phantom{-}0  \phantom{-}1;
                                    \color{#a38f8c}{0} \phantom{-}\color{#a38f8c}{0} \phantom{-}\color{#a38f8c}{1} \phantom{-}9
                                </matrix>
                            </div>
                        </caption-html>
                    </empty-graph> 
                    <empty-graph>
                        <caption-html>
                            <div class="matrix-example width-350">
                                <matrix>
                                    \color{#a38f8c}{1}                -5                  0                  0   3;
                                    \color{#a38f8c}{0} \color{#a38f8c}{0} \color{#a38f8c}{1}                 0  -1;
                                    \color{#a38f8c}{0} \color{#a38f8c}{0} \color{#a38f8c}{0} \color{#a38f8c}{1}  3
                                </matrix>
                            </div>
                        </caption-html>
                    </empty-graph> 
                    <empty-graph>
                        <caption-html>
                            <div class="matrix-example width-350">
                                <matrix>
                                    \color{#a38f8c}{0} \color{#a38f8c}{1}                 0                 -1;
                                    \color{#a38f8c}{0} \color{#a38f8c}{0} \color{#a38f8c}{1}                 9;
                                    \color{#a38f8c}{0} \color{#a38f8c}{0} \color{#a38f8c}{0} \color{#a38f8c}{0}
                                </matrix>
                            </div>
                        </caption-html>
                    </empty-graph>
                </horizontal-group-3>
        </topic-instance>
    </topic-instance>
    </topic-example>
</topic>