#appendix .alert {
    display: inline-block;
}

#appendix .alert > strong  {
    display: block;
}

#appendix .definition {
    vertical-align: top;
    padding-left:50px;
}

#appendix .appendix-seperator {
    border-top:1px solid gray;
}

.topic-instance:not(:last-child) {
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.alert-info .topic-instance:not(:last-child) {
    border-bottom: 1px solid #abdde5;
}

.alert-success .topic-instance:not(:last-child) {
    border-bottom: 1px solid #b1dfbb; 
}

#appendix .card-body > .alert:last-of-type {
    margin-bottom: 0;
    /* this is because the alerts have a margin bottom that extra extra space at the end of each section */
}

.topic {
    margin-bottom: 1.5em;
}

.function-note {
    font-weight: normal !important;
    font-size: small;
    font-style: italic;
}

.topic-instance > strong + * {
    margin-top: 5px;
}

.topic > .card > .card-body > h4 {
    /* the topic-primer and topic-eli5 have this same margin. by bootstrap default this margin is .5 but it looks bad if those <p>s have a bigger margin this the h4 */
    margin-bottom: 1rem;
}

.topic > .card > .card-body > h4 + p {
    /* subtract the margin from the style above */
    margin-top: -.5rem; 
}

#appendix .graph .equation-with-fraction {
    margin-top: 1em;
    display: inline-block;
}

#appendix .alert-warning {
    border: 3px dashed black;
    position:relative;
}

#appendix .alert-warning:after {
    position:absolute;
    top:4px;
    right:4px;
}