.graph-con,
.diagram-con {
    position: relative;
    display: inline-block;
}

.graph-header,
.empty-graph-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.graph-con {
    margin-left: auto;
    margin-right: auto;
}

.graph-con-no-image {
    flex-grow: 1;
}

.graph-con-no-image ul {
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
}

.graph-con-no-image li {
    list-style-position: inside;
}

.graph-size-1 {
    width: 208px;
}

.graph-size-2 {
    width: 250px;
}

@media only screen and (max-width: 350px) {
    .graph-size-1 {
        width: 100%;
    }

    .graph-size-2 {
        width: 100%;
    }   
    
}

#post .graph-size-1 {
    max-width: 150px !important;
}

#post .graph-size-2 {
    max-width: 180px !important;
}

.graph-size-1.make-small {
    width: 150px !important;
}

.graph-size-2.make-small {
    width: 180px !important;
}

.caption-text {
    display:inline-block;
    margin-top:5px;
}

.graph,
.graph-con-no-image ul {
    margin-top: 1em;
}

.caption-after-graph {
    /* for when flexbox doesnt work https://css-tricks.com/centering-css-complete-guide/ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.height-100 {
    height: 100px;
}

.graph {
    overflow: hidden;
}

.horizontal-group-3 .graph-con-no-image .matrix-example {
    margin-top: 1em;
    text-align: center !important;
}