#appendix .triangle-basic {
    max-width: 250px;
}

#appendix .triangle-1-sqrt3-3 {
    max-width: 198.5px;    
}

.triangle-1-1-sqrt2 {
    width: 100%;
    max-width: 150px;
}

.triangle-rotate-1-2-sqrt3 {
    width: 100%;
    max-width: 215px;
}

.width-250 {
    width: 250px;
}

.width-350 {
    width: 350px;
}


    /* this needs some extra uumph. is 100% temporary until i can take a second look. */
    .ideal-width-300 {
        width: 300px;
    }
