/******* HEADER TEXT *********/
.header-text {
    margin-top: 20px;
}

/******* SHOW/HIDE *********/
[data-showing="true"]  {
    display: block;
}
[data-showing="false"] {
    display: none !important;
}
[data-showing="true"] {
    display: block !important;    
}
.hidden {
    visibility: hidden;
}

/******* LIST STYLES *********/
@media only screen and (max-width: 350px) {
    .post-nav > ul {
        display: block;
    }
    .post-nav > ul > li {
        text-align: center;
    }
}

.hide-list-item {
    list-style-type: none;
}

.small-left-margin {
    padding-left: 1em;
}

.large-left-margin {
    padding-left: 3em;
}

.nested-list > li {
    white-space: nowrap;
}

.nested-list > li > * {
    white-space: normal;
}

.nested-list-content {
    display:inline-block;
    vertical-align: top;
}

.li-medium-bottom-margin li:not(:last-child) {
    margin-bottom: 1em;
}

/******* LAZY LOAD IMAGES *********/
[data-src] {
    visibility: hidden;
}

/******* MISC. UTILITY *********/
.bold {
    font-weight: bold;
}

.matrix-example {
    text-align: center;
}

.action-blue {
    color: #33CCFF;
}

.table.no-borders * {
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
}