<br>
<div class="container-fluid">
    <div class="card text-center">
        <div id="componentsContainer" class="card-body text-left">
            <h4>About</h4> 
            <p>This site is for anyone that knows the math and wants some practice problems to stay sharp. This site is not intended to teach math, it's just for practice. <a href="https://www.reddit.com/r/math/comments/7fgvs6/do_you_think_anyone_would_be_interested_in_a/" target="_blank">Reddit loved the idea</a> so I made it. New problems are published every other Sunday morning. Enjoy!</p>
            <hr>
            <h4>LaTeX</h4>
            <p><a href="https://disqus.com/" target="_blank">Disqus</a>, the comment system used on this site, does not support LaTeX. They do support images so you could use an <a href="https://www.codecogs.com/latex/eqneditor.php" target="_blank">online latex editor</a>, take a screenshot, crop it, and upload that.</p>
            <hr>
            <h4>Contribute</h4>
            <p>The next post can be reviewed <a href="/review">here</a>. If you see a bug you can <a href="mailto:sean@regressionbuddy.awsapps.com" target="_blank">shoot me an email</a>. You can submit a pull request <a href="https://bitbucket.org/seanmchughinfo/regressionbuddy" target="_blank">here</a>.</p>
            <hr>
            <h4>RSS</h4>
            <p>The RSS feed for this site is at <a href="/rss.xml" target="_blank">https://www.regressionbuddy.com/rss.xml</a>. Subscribe to be notified when problems are added.</p>
            <hr>
            <h4>Donate</h4>
            <p>Donations are appreciated. <a href="https://patreon.com/regressionbuddy"  target="_blank">You can help support this site on patreon.</a></p>
        </div>
    </div>
</div>