<topic>
    <topic-name>Trigonometric Functions at 30°, 45°, and 60°</topic-name>
    <topic-eli5>The trigonometric function values at 30°, 45°, and 60° are easy to derive or memorize.</topic-eli5>
    <topic-definition>
        <topic-instance>
            <horizontal-group-3>
                <graph image-size-class="graph-size-1">
                    <text-header bold center>Derive at 45°</text-header>
                    <image-url>/images/trigonometry-appendix/triangle-45-45.svg</image-url>
                    <caption-html>
                        <div class="text-left">
                            Make a triangle with legs of length 1 and use the pythagorean theorem to compute the hypotenuse (\(\sqrt{2}\)).
                            The trigonometric ratios at 45° can then be read off the triangle.
                        </div>
                    </caption-html>
                </graph>
                <graph image-size-class="graph-size-1">
                    <text-header bold center>Derive at 30° and 60°</text-header>
                    <image-url>/images/trigonometry-appendix/triangle-30-60.svg</image-url>
                    <caption-html>
                        <div class="text-left">
                            Make an equilateral triangle with sides of length 2 and cut it in half. 
                            Use the pythagorean theorem to compute the length of the second leg (\(\sqrt{3}\)).
                            The trigonometric ratios at 30° and 60° can then be read off the triangle.
                        </div>
                    </caption-html>
                </graph>
                <empty-graph>
                    <text-header bold center>Memorize</text-header>
                    <caption-html>
                        <table class="table table-sm trig-30-45-60-ratios-table">
                            <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">30°</th>
                                    <th scope="col">45°</th>
                                    <th scope="col">60°</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">\(sin\)</th>
                                    <td>\(\frac{1}{2}\)</td>
                                    <td>\(\frac{\sqrt{2}}{2}\)</td>
                                    <td>\(\frac{\sqrt{3}}{2}\)</td>
                                </tr>
                                <tr>
                                    <th scope="row">\(cos\)</th>
                                    <td>\(\frac{\sqrt{3}}{2}\)</td>
                                    <td>\(\frac{\sqrt{2}}{2}\)</td>
                                    <td>\(\frac{1}{2}\)</td>
                                </tr>
                                <tr>
                                    <th scope="row">\(tan\)</th>
                                    <td>\(\frac{\sqrt{3}}{3}\)</td>
                                    <td>\(1\)</td>
                                    <td>\(\sqrt{3}\)</td>
                                </tr>
                            </tbody>
                        </table>
                    </caption-html>
                </empty-graph>
            </horizontal-group-3>
        </topic-instance>
    </topic-definition>
    <!--▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼-->
    <topic-example>
        <topic-instance>
            <horizontal-group-3>
                <graph image-size-class="graph-size-1">
                    <text-header bold center>30° Example</text-header>
                    <image-url>/images/trigonometry-appendix/triangle-30-60.svg</image-url>
                    <caption-html>
                        <div class="equation-with-fraction ideal-width-300">
                            \(
                                sin(30°)=\frac{opp}{hyp}=\frac{1}{2}
                            \)
                        </div>
                    </caption-html>
                </graph>
                <graph image-size-class="graph-size-1">
                    <text-header bold center>45° Example</text-header>
                    <image-url>/images/trigonometry-appendix/triangle-45-45.svg</image-url>
                    <caption-html>
                        <div class="equation-with-fraction ideal-width-300">
                            \(
                                csc(45°)=\frac{hyp}{opp}=\frac{\sqrt{2}}{1}=\sqrt{2}
                            \)
                        </div>
                    </caption-html>
                </graph>
                <graph image-size-class="graph-size-1">
                    <text-header bold center>60° Example</text-header>
                    <image-url>/images/trigonometry-appendix/triangle-30-60.svg</image-url>
                    <caption-html>
                        <div class="equation-with-fraction ideal-width-300">
                            \(
                                tan(60°)=\frac{opp}{adj}=\frac{\sqrt{3}}{1}=\sqrt{3}
                            \)
                        </div>
                    </caption-html>
                </graph>
            </horizontal-group-3>
        </topic-instance>
    </topic-example>
</topic>

<!--
 <graph image-size-class="graph-size-1">
                        <image-url>/images/trigonometry-appendix/triangle-45-45.svg</image-url>
                        <graph-url>https://www.geogebra.org/graphing/WsMf23qV</graph-url>
                        <caption-text>No Solutions</caption-text>
                        <caption-html>
                            \begin{align}
                                x-y=1 \\
                                -x+y=1 
                            \end{align}
                        </caption-html>
                    </graph>

-->