<topic>
    <topic-name>Like Terms</topic-name>
    <topic-definition>
        <topic-instance>
            <topic-instance-html>
                    <strong>Like terms</strong> are terms that have the same variables (including the exponent). Like terms can be combined.
            </topic-instance-html>
        </topic-instance>
    </topic-definition>
    <!--▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼-->
    <topic-example>
        <topic-instance>
            <topic-instance-name>Example 1</topic-instance-name>
            <topic-instance-html>
                \(3xy+9xy=12xy\)
            </topic-instance-html>
        </topic-instance>
        <topic-instance>
            <topic-instance-name>Example 2</topic-instance-name>
            <topic-instance-html>
                \(x^2-2x^2={-x}^2\)
            </topic-instance-html>
        </topic-instance>
    </topic-example>
</topic>