<topic>
    <topic-name>The Addition Property of Equality</topic-name>
    <topic-primer>If \(a\), \(b\), and \(c\) are real numbers then:</topic-primer>
    <topic-definition>
        <topic-instance>
            <topic-instance-html>
                \(a=b\) and \( a+c=b+c\) are equivelant equations.
            </topic-instance-html>
        </topic-instance>
    </topic-definition>
    <!--▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼-->
    <topic-example>
        <topic-instance>
            <topic-instance-name>Example 1</topic-instance-name>
            <topic-instance-html>
                \( \phantom{+2 \:\:} x - 2 = 3 \)
                <br>
                \( x - 2 \color{#a38f8c}{+ 2} = 3 \color{#a38f8c}{+ 2} \)
                <br>
                \( \phantom{-2+2\:\:} x = 5 \)
            </topic-instance-html>
        </topic-instance>
        <topic-instance>
            <topic-instance-name>Example 2</topic-instance-name>
            <topic-instance-html>
                <div class="equation-with-fraction">
                    \( \phantom{\:\:- \frac{3}{5}m} \frac{3}{5}m + 2 = \frac{8}{5}m \)
                </div>
                <div class="equation-with-fraction">
                    \( \frac{3}{5}m \color{#a38f8c}{- \frac{3}{5}m} + 2 = \frac{8}{5}m \color{#a38f8c}{- \frac{3}{5}m} \)
                </div>
                <div class="equation-with-fraction">
                    \(
                        \phantom{
                            \:\: \frac{3}{5}m - \frac{3}{5}m +
                        }
                        2 = \frac{5}{5}m
                    \)
                </div>
                <div class="equation-with-fraction">
                        \(
                            \phantom{
                                \:\: \frac{3}{5}m - \frac{3}{5}m +
                            }
                            2 = m
                        \)
                    </div>
            </topic-instance-html>
        </topic-instance>
    </topic-example>
</topic>