<topic>
    <topic-name>The Multiplication Property of Equality</topic-name>
    <topic-primer>If \(a\), \(b\), and \(c\) are real numbers, and \(c \neq 0\), then:</topic-primer>
    <topic-definition>
        <topic-instance>
            <topic-instance-html>
                \(a=b\) and \( ac=bc\) are equivelant equations.
            </topic-instance-html>
        </topic-instance>
    </topic-definition>
    <!--▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼-->
    <topic-example>
        <topic-instance>
            <topic-instance-name>Example 1</topic-instance-name>
            <topic-instance-html>
                \(
                    \phantom{\cdot(-1)}-x=6
                \)
                <br>
                \(
                    -x\color{#a38f8c}{\cdot(-1)}=6\color{#a38f8c}{\cdot(-1)}
                \)
                <br>
                \(
                    \phantom{\cdot(-1)-\;}x=-6
                \)
            </topic-instance-html>
        </topic-instance>
        <topic-instance>
            <topic-instance-name>Example 2</topic-instance-name>
            <topic-instance-html>
                <div class="equation-with-fraction">
                    \(
                        \phantom{3\cdot}\frac{1}{3} m=2
                    \)
                </div>
                <div class="equation-with-fraction">
                    \(
                        \color{#a38f8c}{3\cdot}\frac{1}{3}m
                        =
                        \color{#a38f8c}{3\cdot}2
                    \)
                </div>
                <div class="equation-with-fraction">
                    \(
                        \phantom{3\cdot}\frac{3}{3} m=6
                    \)
                </div>
                <div class="equation-with-fraction">
                    \(
                        \phantom{3\cdot\;\;}m=6 
                    \)
                </div>
            </topic-instance-html>
        </topic-instance>
        <topic-instance>
            <topic-instance-name>Example 3</topic-instance-name>
            <topic-instance-html>
                <div class="equation-with-fraction">
                    \(
                        \phantom{\frac{1}{4}\cdot}
                        4h=12
                    \)
                </div>
                <div class="equation-with-fraction">
                    \(
                        \color{#a38f8c}{
                            \frac
                                {1}
                                {4}
                                \cdot
                        }
                        4h
                        =
                        \color{#a38f8c}{
                            \frac
                                {1}
                                {4}
                                \cdot
                        }
                        12
                    \)
                </div>
                <div class="equation-with-fraction">
                    \(
                        \phantom{4\cdot}
                        \frac
                            {4}
                            {4}
                        h
                        =
                        \frac
                            {12}
                            {4}
                    \)
                </div>
                <div class="equation-with-fraction">
                    \(
                        \phantom{\frac{1}{4}\cdot\;}
                        h
                        =
                        3
                    \)
                </div>
            </topic-instance-html>
        </topic-instance>
        <topic-instance>
                <topic-instance-name>Example 4</topic-instance-name>
                <topic-instance-html>
                    <div class="equation-with-fraction">
                        \(
                            .4x=3.2
                        \)
                    </div>
                    <div class="equation-with-fraction">
                        \(
                            \frac
                                {.4x}
                                {
                                    \color{#a38f8c}{.4}
                                }
                            =
                            \frac
                                {3.2}
                                {\color{#a38f8c}{.4}}
                        \)
                    </div>
                    <div class="equation-with-fraction">
                        \(
                            \phantom{.4}
                            x=8
                        \)
                    </div>
                </topic-instance-html>
        </topic-instance>
    </topic-example>
</topic>