<div id="solutions">
    <primary-list>
        <li-text>
            <text>
                <strong>a</strong>, <strong>c</strong>, and <strong>d</strong> are equivelant.
            </text>
        </li-text>
        <nested-list>
            <item>
                \( x=8 \)
            </item>
            <item>
                \( x=1.2\)
            </item>
        </nested-list>
        <nested-list>
            <item>
                \( k=-7 \)
            </item>
            <item>
                \( k=5 \)
            </item>
        </nested-list>
        <nested-list>
            <item>
                \( z=-16 \)
            </item>
            <item>
                \( z=0 \)
            </item>
        </nested-list>
        <nested-list>
            <item>
                \( x=-14 \)
            </item>
            <item>
                \( x=1 \)
            </item>
        </nested-list>
    </primary-list>
</div>
<div id="work">
    <ol class="list-group">
        <li><img data-src="/images/2/algebra/w1.png" alt="work" class="img-fluid" /></li>
        <li><img data-src="/images/2/algebra/w2.png" alt="work" class="img-fluid" /></li>
        <li><img data-src="/images/2/algebra/w3.png" alt="work" class="img-fluid" /></li>
        <li><img data-src="/images/2/algebra/w4a.png" alt="work" class="img-fluid" /></li>
        <li class="hide-list-item"><img data-src="/images/2/algebra/w4b.png" alt="work" class="img-fluid" /></li>
        <li value="5"><img data-src="/images/2/algebra/w5a.png" alt="work" class="img-fluid" /></li>
        <li class="hide-list-item"><img data-src="/images/2/algebra/w5b.png" alt="work" class="img-fluid" /></li>
    </ol>
</div>
<div id="problems">
    <primary-list>
        <nested-list>
            <top-text>Which of the following equations are equivelant?</top-text>
            <item>
                \( x + 7 = 6 \)
            </item>
            <item>
                \( x = 6 + 1 \)
            </item>
            <item>
                \( x + 3 = 2 \)
            </item>
            <item>
                \( 1 = x + 2 \)
            </item>
        </nested-list>
        <nested-list>
            <top-text>Solve for \(x\).</top-text>
            <item>
                \( x+1=9 \)
            </item>
            <item>
                \( .3 + x = 1.5 \)
            </item>
        </nested-list>
        <nested-list>
            <top-text>Solve for \(k\).</top-text>
            <item>
                \( \frac{5}{3}k- 7 = \frac{8}{3}k \)
            </item>
            <item>
                \( 5 - 3k = -2k \)
            </item>
        </nested-list>
        <nested-list>
            <top-text>Solve for \(z\).</top-text>
            <item>
                \( 9z - 9 - 3 = 10z + 4 \)
            </item>
            <item>
                \( -2z + \frac{6}{5} = -z + \frac{1}{5} + 1 \)
            </item>
        </nested-list>
        <nested-list>
            <top-text>Solve for \(x\).</top-text>
            <item>
                \( -5(x + 1) + x = 3(3 - x) \)
            </item>
            <item>
                \( x - \frac{1}{3}(1+3x)= \frac{1}{2}(2 + 2x)  \)
            </item>
        </nested-list>
    </primary-list>
</div>