<topic>
    <topic-name>Vector Spaces</topic-name>
    <topic-definition size-class="horizontal-group-3-topic-container">
        <topic-instance>
            <horizontal-group-4>
                <graph image-size-class="graph-size-1 make-small">
                    <text-header wider-line>\(\mathbb{R}^1\)</text-header>
                    <image-url>/images/vector-calculus-appendix/r1.png</image-url>
                </graph>
                <graph image-size-class="graph-size-1 make-small">
                    <text-header wider-line>\(\mathbb{R}^2\)</text-header>
                    <image-url>/images/vector-calculus-appendix/r2.png</image-url>
                </graph>
                <graph image-size-class="graph-size-2 make-small">
                    <text-header wider-line>\(\mathbb{R}^3\)</text-header>
                    <image-url>/images/vector-calculus-appendix/r3.png</image-url>
                </graph>
                <empty-graph>
                    <text-header wider-line>\(\mathbb{R}^n\)</text-header>
                    <caption-html>
                        \(\mathbb{R}^1\), \(\mathbb{R}^2\), \(\mathbb{R}^3\), \(\mathbb{R}^4\), etc. are generally written as \(\mathbb{R}^n\). That is, \(\mathbb{R}^n\) may refer to \(\mathbb{R}^1\), \(\mathbb{R}^2\), \(\mathbb{R}^3\), \(\mathbb{R}^4\), etc.
                    </caption-html>
                </empty-graph>
            </horizontal-group-4>
        </topic-instance>
    </topic-definition>
    <!--▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼-->
</topic>



