<topic>
        <topic-name>Measures of Central Tendency</topic-name>
        <topic-definition>
            <topic-instance>
                <topic-instance-html>
                    <strong>Mean</strong> is the sum of the values divided by the total number of values.
                    <br>
                    Sample Average 
                    \( 
                        \bar{X}
                        = 
                        \frac
                            {X_1 + X_2 + X_3 + \cdots + X_4}
                            {n}
                        =
                        \frac
                            {\Sigma X}
                            {n}
                    \)
                    <br>
                    Population Average
                    \( 
                        \bar{\mu}
                        = 
                        \frac
                            {X_1 + X_2 + X_3 + \cdots + X_4}
                            {N}
                        =
                        \frac
                            {\Sigma X}
                            {N}
                    \)
                </topic-instance-html>
            </topic-instance>
            <topic-instance>
                <topic-instance-html>
                    <strong>Median</strong> is the value in the middle.
                </topic-instance-html>
            </topic-instance>
            <topic-instance>
                <topic-instance-html>
                    <strong>Mode</strong> is the value that occurs most often.
                </topic-instance-html>
            </topic-instance>
            <topic-instance>
                <topic-instance-html>
                    <strong>Midrange</strong> is the value half way between the largest and smallest value.
                    <br>
                    midrange
                    \( 
                        =\frac{\text{largest + smallest}}{2}
                    \)
                </topic-instance-html>
            </topic-instance>
        </topic-definition>
        <!--▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼-->
        <topic-example>
            <topic-instance>
                <topic-instance-name>Mean Example</topic-instance-name>
                <topic-instance-html>
                    The number of green candies from ten different bags is recorded below. Find the mean.
                    <br>
                    \( 2, 3, 1, 5, 4, 16, 1, 2, 11, 3 \)
                    <br>
                    \( 
                        \bar{X}
                        = 
                        \frac
                            {2 + 3 + 1 + 5 + 4 + 16 + 1 + 4 + 11 + 3}
                            {10}
                        =
                        \frac
                            {50}
                            {10}
                        = 5
                    \)
                </topic-instance-html>
            </topic-instance>
            <topic-instance>
                <topic-instance-name>Median Example (odd)</topic-instance-name>
                <topic-instance-html>
                    The number of hotdogs consumed by seven participants in a hotdog eating competition are recorded below. Find the median.
                    <br>
                    \(
                        5, 13, 9, 3, 5, 7, 10
                    \)
                    <br>
                    Step 1: Order the data: 
                    \( 
                        3, 5, 5, 7, 9, 10, 13
                    \)
                    <br>
                    Step 2: Select the middle value.
                    \( 
                        3, 5, 5, \enclose{circle}[mathcolor="#a38f8c"]{7}, 9, 10, 13
                    \)
                </topic-instance-html>
            </topic-instance>
            <topic-instance>
                <topic-instance-name>Median Example (even)</topic-instance-name>
                <topic-instance-html>
                    The number of hotdogs consumed by eight participants in a hotdog eating competition are recorded below. Find the median.
                    <br>
                    \(
                        5, 13, 9, 3, 5, 7, 10, 12
                    \)
                    <br>
                    Step 1: Order the data: 
                    \( 
                        3, 5, 5, 7, 9, 10, 12, 13
                    \)
                    <br>
                    Step 2: Select the middle value.
                    \( 
                        3, 5, 5, \enclose{circle}[mathcolor="#a38f8c"]{7, 9}, 10, 12, 13
                    \)
                    <br>
                    Step 3: Take the mean of the middle two values. 
                    \(
                        \frac{7+9}{2} = \frac{16}{2} = 8
                    \)
                </topic-instance-html>
            </topic-instance>
            <topic-instance>
                <topic-instance-name>Mode Example</topic-instance-name>
                <topic-instance-html>
                    The number of cars owned in each of ten randomly selected households are recorded below. Find the mode.
                    <br>
                    \(
                        2, 2, 1, 2, 3, 1, 5, 0, 2, 3 
                    \)
                    <br>
                    \(2\) occurs most often. 
                </topic-instance-html>
            </topic-instance>
            <topic-instance>
                <topic-instance-name>Midrange Example</topic-instance-name>
                <topic-instance-html>
                    The number of pets owned in six different households is record below. Find the midrange.
                    <br>
                    \(
                        1, 0, 0, 1, 5, 0
                    \)
                    <br>
                    \( \frac{5+1}{2}= 3\). 
                </topic-instance-html>
            </topic-instance>
        </topic-example>
    </topic>