  <div class="container-fluid">
    <span>[POST PHRASE]</span>
  </div>
  <h4 class="text-center header-text">[POST DATE]</h4>
  [PAGINATION]
  <div class="container-fluid subject-options">
    [POST SUBJECT NAVIGATION]
  </div>
  <div id="post">
      [POST HTML]
  </div>
  <div class="container-fluid">
    Topics:&nbsp;<span id="topicLinks">[POST TOPICS]</span>
    <br>                
    [POST_HTML/SHOW_COMMENTS_LINK]
  </div>
  [POST COMMENTS]
  [PAGINATION]