<h4 class="text-center header-text">Algebra Glossary</h4>
<br>
<div id="glossary" class="container-fluid">
    <div class="card text-center">
        <div class="card-body text-center">
            <div class="text-left" >
                <ol start="0">
                    <li class="chapter-list">
                        Warmup
                        <ol class="topic-list">
                            <li><a href="/1/algebra">Properties of Real Numbers, Fractions, Like Terms</a></li>
                        </ol>
                    </li>
                    <li class="chapter-list">
                        Linear Equations And Inequalities
                        <ol class="topic-list">
                            <li>Next Post: The Addition Property of Equality</li>
                            <!--<li>Next Post: The Multiplication Property of Equality</li>-->
                        </ol>
                    </li>
                    <!-- does algebra ever cover recriprocal functions? -->
                </ol>
            </div>
        </div>
    </div>
</div>