<h4 class="text-center header-text">Calculus Glossary</h4>
<br>
<div id="glossary" class="container-fluid">
    <div class="card text-center">
        <div class="card-body text-center">
            <div class="text-left" >
                <ol>
                    <li class="chapter-list">
                        Limits and Continuity
                        <ol class="topic-list">
                            <li><a href="/1/calculus">Limit Theorems, Evaluating Complicated Limits</a></li>
                            <li>Next Post: Continuity, One-Sided and Two-Sided Limits</li>
                            <!-- 
                                limits that dont exist
                                continuity
                                epsilon delta
                                special limits line sin(x)/x
                            -->
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>