<h4 class="text-center header-text">Linear Algebra Glossary</h4>
<br>
<div id="glossary" class="container-fluid">
    <div class="card text-center">
        <div class="card-body text-center">
            <div class="text-left" >
                <ol>
                    <li class="chapter-list">
                        Systems of Linear Equations
                        <ol class="topic-list">
                            <li><a href="/1/linear-algebra">Linear Equations in n Variables, The Number of Solutions to a System of Linear Equations, Back-Substitution</a></li>
                            <li>Next Post: Matrices, Elementary Row Operations, Row-Echelon and Reduced-Row-Echelon Form</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>