<h4 class="text-center header-text">Statistics Glossary</h4>
<br>
<div id="glossary" class="container-fluid">
    <div class="card text-center">
        <div class="card-body text-center">
            <div class="text-left" >
                <ol>
                    <li class="chapter-list">
                        The Nature of Probability and Statistics
                        <ol class="topic-list">
                            <li><a href="/1/statistics">Variables, Levels of Measurement</a></li>
                        </ol>
                    </li>
                    <li class="chapter-list">
                        Data Description
                        <ol class="topic-list">
                            <li>Next Post: Statistics and Parameters, Measures of Central Tendency</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>