<h4 class="text-center header-text">Trigonometry Glossary</h4>
<br>
<div id="glossary" class="container-fluid">
    <div class="card text-center">
        <div class="card-body text-center">
            <div class="text-left" >
                <ol>
                    <li class="chapter-list">
                        The Trigonometric Functions
                        <ol class="topic-list">
                            <li><a href="/1/trigonometry">The Trigonometric Ratios</a></li>
                            <li>Next Post: Reciprocals of the Trigonometric Functions, Similiar Triangles</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>