<h4 class="text-center header-text">Vector Calculus Glossary</h4>
<br>
<div id="glossary" class="container-fluid">
    <div class="card text-center">
        <div class="card-body text-center">
            <div class="text-left" >
                <ol>
                    <li class="chapter-list">
                        The Geometry of Euclidian Space
                        <ol class="topic-list">
                            <li><a href="/1/vector-calculus">Vector Spaces, Vector Addition and Scalar Multiplication</a></li>
                            <li>Next Post: Standard Basis Vectors, The Vector Between Two Points</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>