<div id="solutions">
    <primary-list>
        <li-text>
            <text>
                <strong>a.</strong>, <strong>c.</strong>, and <strong>d.</strong> are equivelant.
            </text>
        </li-text>
        <nested-list>
            <item>
                \( x=8 \)
            </item>
            <item>
                \( x=1.2\)
            </item>
        </nested-list>
        <nested-list>
            <item>
                \( k=-7 \)
            </item>
            <item>
                \( k=5 \)
            </item>
        </nested-list>
        <nested-list>
            <item>
                \( z=-16 \)
            </item>
            <item>
                \( z=0 \)
            </item>
        </nested-list>
        <nested-list>
            <item>
                \( x=-14 \)
            </item>
            <item>
                \( x=1 \)
            </item>
        </nested-list>
    </primary-list>
</div>
<div id="work">
    <ol class="list-group">
        <li><img data-src="/images/2/algebra/w1.png" alt="work" class="img-fluid" /></li>
        <li><img data-src="/images/2/algebra/w2.png" alt="work" class="img-fluid" /></li>
        <li><img data-src="/images/2/algebra/w3.png" alt="work" class="img-fluid" /></li>
        <li><img data-src="/images/2/algebra/w4a.png" alt="work" class="img-fluid" /></li>
        <li class="hide-list-item"><img data-src="/images/2/algebra/w4b.png" alt="work" class="img-fluid" /></li>
        <li value="5"><img data-src="/images/2/algebra/w5a.png" alt="work" class="img-fluid" /></li>
        <li class="hide-list-item"><img data-src="/images/2/algebra/w5b.png" alt="work" class="img-fluid" /></li>
    </ol>
</div>
<div id="problems">
    <primary-list>
        <li-text>
            <top-text>Solve for \(x\).</top-text>
            <text>
                \(x-2x=-1\)
            </text>
        </li-text>
        <nested-list>
            <top-text>Solve for \(r\).</top-text>
            <item>
                \( \frac{1}{5}r=-1 \)
            </item>
            <item>
                \( \frac{5}{3}r=\frac{1}{3} \)
            </item>
        </nested-list>
        <nested-list>
            <top-text>Solve for \(k\).</top-text>
            <item>
                \( -6k=12 \)
            </item>
            <item>
                \( 10k=2 \)
            </item>
        </nested-list>
        <nested-list>
            <top-text>Solve for \(t\).</top-text>
            <item>
                    \( .25t=3 \)
            </item>
            <item>
                    \( .1t=54 \)
            </item>
        </nested-list>
        <nested-list>
            <top-text>Solve for \(x\).</top-text>
            <item>
                \( 3x + 5x = 16 \)
            </item>
            <item>
                \( x - 5x = 4 \)
            </item>
        </nested-list>
    </primary-list>
</div>