<div id="solutions">
    <primary-list>
        <li-text>
            <text>
                essential at \( x =-3 \) and \( 2 \)
                <br>
                jump at \( x=-2 \)
                <br>
                removable at \( x=4 \) and \( x=5 \)
            </text>
        </li-text>
        <li-text>
            <text>
                \(
                    \lim\limits_{x\to\ -3^{-}} f(x) = \text{DNE}
                \)
                <br>
                \(
                    \lim\limits_{x\to\ -3^{+}} f(x) = \text{DNE}
                \)
                <br>
                \(
                    \lim\limits_{x\to\ -2^{-}} f(x) = 1
                \)
                <br>
                \(
                    \lim\limits_{x\to\ -2^{+}} f(x) = -3
                \)
                <br>
                \(
                    \lim\limits_{x\to\ 2^{-}} f(x) = \text{DNE}
                \)
                <br>
                \(
                    \lim\limits_{x\to\ 2^{+}} f(x) = \text{DNE}
                \)
                <br>
                \(
                    \lim\limits_{x\to\ 4^{-}} f(x) = -1
                \)
                <br>
                \(
                    \lim\limits_{x\to\ 4^{+}} f(x) = -1
                \)
                <br>
                \(
                    \lim\limits_{x\to\ 5^{-}} f(x) = 1
                \)
                <br>
                \(
                    \lim\limits_{x\to\ 5^{+}} f(x) = 1
                \)
            </text>
        </li-text> 
        <li-text>
            <text>
                \(
                    \lim\limits_{x\to\ -3} f(x) = \text{DNE}
                \)
                <br>
                \(
                    \lim\limits_{x\to\ -2} f(x) = \text{DNE}
                \)
                <br>
                \(
                    \lim\limits_{x\to\ 2} f(x) = \text{DNE}
                \)
                <br>
                \(
                    \lim\limits_{x\to\ 4} f(x) = -1
                \)
                <br>
                \(
                    \lim\limits_{x\to\ 5} f(x) = 1
                \)
            </text>
        </li-text>
        <wrapped-graph>
            <graph image-size-class="graph-size-1" left>
                <image-url>/images/2/calculus/p2-s4.png</image-url>
                <caption-html>
                    \(
                        \lim\limits_{x\to\ 5^{-}} f(x)
                        =
                        \lim\limits_{x\to\ 5^{+}} f(x)
                        =
                        \lim\limits_{x\to\ 5} f(x)
                        =
                        -5
                    \)
                </caption-html>
            </graph>
        </wrapped-graph>
        <wrapped-graph>
            <graph image-size-class="graph-size-1" left>
                <image-url>/images/2/calculus/p2-s5.png</image-url>
                <caption-html>
                    \(
                        \lim\limits_{x\to\ 2^{-}} f(x)
                        =
                        \text{DNE}
                    \)
                    <br>
                    Since both the left-sided and right-sided limit must exist for the limit to exist
                    \(
                        \lim\limits_{x\to\ 2} f(x)
                        =
                        \text{DNE}
                    \)
                </caption-html>
            </graph>
        </wrapped-graph>
    </primary-list>
</div>
<div id="work">
    <ol class="list-group">
        <li class="hide-list-item"><img data-src="/images/2/calculus/w0.png" alt="work" class="img-fluid" /></li>
        <li value="1"><img data-src="/images/2/calculus/w1.png" alt="work" class="img-fluid" /></li>
        <li><img data-src="/images/2/calculus/w2.png" alt="work" class="img-fluid" /></li>
        <li><img data-src="/images/2/calculus/w3.png" alt="work" class="img-fluid" /></li>
        <li><img data-src="/images/2/calculus/w4.png" alt="work" class="img-fluid" /></li>
        <li><img data-src="/images/2/calculus/w5.png" alt="work" class="img-fluid" /></li>
    </ol>
</div>
<div id="problems">
    <wrapped-graph>
        <graph image-size-class="width-350">
            <text-header>
                <p class="text-left">Use Graph A to solve problems 1-3.</p>
            </text-header>
            <image-url>/images/2/calculus/p2-q1.svg</image-url>
            <graph-url>https://www.geogebra.org/graphing/kYcgUbF2</graph-url>
            <caption-html>
                <i class="text-center">Graph A</i>
            </caption-html>
        </graph>
    </wrapped-graph>
    <primary-list>
        <li-text>
            <text cheat="jump, removable, and essential">
                Identify each discontinuity.
            </text>
        </li-text>
        <li-text>
            <text>
                Find the left-sided and right-sided limits at each discontinuity. If either limit does not exist, say so.
            </text>
        </li-text>
        <li-text>
            <text>
                Find the two-sided limit at each discontinuity. If the limit does not exist, say so.
            </text>
        </li-text>
        <li-text>
            <top-text bottom-margin-class="bm-8">
                Find  \( \lim\limits_{x\to\ -5} f(x) \). If the limit does not exist, say so.
            </top-text>
            <html-content>
                <span class="inline-mj mj-piecewise">
                    <span>
                        \( f(x) = \)
                    </span>
                    <span class="piecewise-function">
                        \begin{cases} 
                            x, & \text{if x $\neq$ -5} \\ 
                            0, & \text{if x = -5}
                        \end{cases}
                    </span>
                </span>
            </html-content>
        </li-text>
        <li-text>
            <top-text bottom-margin-class="bm-8">
                Find  \( \lim\limits_{x\to\ 2} f(x) \). If the limit does not exist, say so.
            </top-text>
            <html-content>
                <span class="inline-mj mj-piecewise">
                    <span>
                        \( f(x) = \)
                    </span>
                    <span class="piecewise-function">
                        \begin{cases} 
                            \frac{1}{x-2}, & \text{if x < 2} \\ 
                            sin(x), & \text{if x $\geq$ 2}
                        \end{cases}
                    </span>
                </span>
            </html-content>
        </li-text>
    </primary-list>
</div>